$desktop-above: 1281px;
$desktop: 1280px;

$tabled-above: 1024px;
$tabled: 1023px;

$mobile-above: 768px;
$mobile: 767px;

$mobile-s-above: 481px;
$mobile-s: 480px;

@mixin desktop-above {
  @media (min-width: $desktop-above) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}

@mixin tabled-above {
  @media (min-width: $tabled-above) {
    @content;
  }
}

@mixin tabled {
  @media (max-width: $tabled) {
    @content;
  }
}

@mixin mobile-above {
  @media (min-width: $mobile-above) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin mobile-s-above {
  @media (min-width: $mobile-s-abovee) {
    @content;
  }
}

@mixin mobile-s {
  @media (max-width: $mobile-s) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (hover: none) {
    &:active {
      @content;
    }
  }
}